/.checkstyle
/.classpath
/log
/target
/activemq-data
/.fbprefs
/cache
/.settings
/.project
/*.hprof
/.jrctemp
/.invesdwin
/nbproject
/bin
/.springBeans
/.factorypath
/.attach_pid*
/.DS_Store
/.idea
/*.iml
/.sessions
