# Use slf4j
lombok.log.apacheCommons.flagUsage=ERROR
lombok.log.custom.flagUsage=ERROR
lombok.log.flogger.flagUsage=ERROR
lombok.log.jbosslog.flagUsage=ERROR
lombok.log.javaUtilLogging.flagUsage=ERROR
lombok.log.log4j.flagUsage=ERROR
lombok.log.log4j2.flagUsage=ERROR
lombok.log.xslf4j.flagUsage=ERROR

# warning some annotations.
#lombok.sneakyThrows.flagUsage=WARNING

# Set equalsAndHashCode
lombok.equalsAndHashCode.callSuper=call

# Set toString
lombok.toString.callSuper=call

# workaround for https://github.com/FasterXML/jackson-databind/issues/1122
# @ConstructorProperties conflicts with the field, that has @JsonProperty.
lombok.anyConstructor.suppressConstructorProperties = true